<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Vivek's Portfolio</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        </head>    
            
    <body>     
        <header class="blog-header py-3 ">
          <div class="p-0 mb-0 bg-white text-dark"> 
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-2 pt-2">
                <div class="font-weight-bold">
                    <div class="text-xl-left">
                        <h1><a class="text-muted-logo text-dark">My Portfolio</a></h1>
                    </div>
                </div>
              </div>
              <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
              </div>
            </div>
          </div>
        </header>
        <header>
          <div class="bg-dark collapse show" id="navbarHeader" style="">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                  <h4 class="text-white">About</h4>
                  <p class="text-white">Vivek here,I like to introduce to my world ,
                      I am Engineer generally(so called converted software developer),I am a travel Geek and targetted in 
                      business prospective.
                  </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Follow on Twitter</a></li>
                    <li><a href="#" class="text-white">Like on Facebook</a></li>
                    <li><a href="https://mail.google.com/mail/u/0/#sent/QgrcJHsBtPbSsKJVdmtSSsbZMTxmMzDhtBv" target="blank" class="text-white">Email me</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="row flex-nowrap justify-content-start">
              <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>My project album </strong>
            </div>  
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        </div>
        </header>
        
        
    
            <div class="jumbotron">
                <div class="high">
                  <h1 class="display-3">My Career Journey,!</h1>
                  <p><em>"Hi guys,this is vivek, i will share my career journey from a civil engineer to 
                    becoming a techie.I passed my btech in civil engineer in 2017 and after working for two and half years
                    i felt its not for me and chose software as my carrer,as we see world is movng towards technology 
                    and its better to move along and establish my carrer in the same."</em></p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
                </div>
              </div>
              <style type="text/css">
              .jumbotron{
                margin top : 20px;
                background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCM7bZO-jJR_IARG3afO_m7V4R5_e7kuoEjlMibpJD4yF4P0V7");
                background-size:cover;
                color:white:  
              } 
              .high{
                  color:aliceblue;
                  padding:10px 400px;
                  font-size:20px;
              }    

                </style>
              
                
            <div class="pt-5"> 
                <div class="container marketing">

                    <!-- Three columns of text below the carousel -->
                    <div class="row">
                      <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        <div class="pt-5"></div>
                        <h2>Python practice session</h2>
                        <p>As I initiated with my career with this practice of python basics, 
                            so goon take a look , how I have built my foundation </p>
                        <p><a class="btn btn-secondary" href="https://github.com/vivekj1795/python_Basics" target = 'blank' role="button">View details »</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                         <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        <div class="pt-5"></div>
                        <h2>Jupyter Note book excercises</h2>
                        <p>Here in byte acadamy they introduced me to Anacoda jupyter notebook , which helped me build clean documentation of learning module. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        <div class="pt-5"></div>
                        <h2>yaahoo!..My first game - Battleship</h2>
                        <p>From my previous learnings I have built my first game, its fun playing the built by your own </p>
                        <p><a class="btn btn-secondary" href="https://github.com/vivekj1795/BattleShip" target = 'blank' role="button">View details »</a></p>
                      </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->  
                </div>
            </div>
                
            <div class="pt-5">
              <div class="container marketing">
                <div class="row">
                    <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="download.jpeg" dy=".3em">140x140</text></svg>
                    <div class="pt-5"></div>
                    <h2>Learning Concepts</h2>
                    <p>As a partial developer, I have still long way to go,hence my journey continous</p>
                    <p><a class="btn btn-secondary" href="https://github.com/vivekj1795/Learning_concepts" target = 'blank' role="button"> View details »</a></p>
                    </div>
                    <div class="col-lg-4">
                        <svg class="bd-download.jpeg-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                       <div class="pt-5"></div>
                       <h2>Library Termonal - my First project as a developer</h2>
                       <p>I have completed my first project on library terminal succesfully and it was interesting and great thing to get concepts to head </p>
                       <p><a class="btn btn-secondary" href="https://github.com/vivekj1795/Library_terminal-Project" target='blank' role="button">View details »</a></p>
                     </div>
                </div>
              </div>
            </div>
            
            
            
            <hr class="featurette-divider">
        <div class="pt-5"></div>
            <footer class="low">
                <div class="text-xl-left">
                    <p class="float-right"><a href="#">Back to top</a></p>
                    <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
                </div> 
            </footer>

                   
    </body>   
            
            

            
</html>